@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-weight: 400;
}


body {
  background: url("https://dreammakerng.github.io/my-first-website/practice/HBDM.png");
  background-repeat: repeat;
  background-position: center-top;
  background-width: 1oovw;
  background-height: 1oovh;
  padding: 40px;
  text-align: center;
}

#card {
  background-color: #1F2235;
  color: #E3A419;
  width: auto;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 14px 12px black;
}


.coachalex {
  padding-right: calc(50%-25%);
  padding-left: calc(50%-25%);
}

.card {
  background-color: #1F2235;
  color: #E3A419;
  width: auto;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 14px 12px black;
}

.coachalex {
  width: 400px;
  height: 400px;
  border: 6px solid #1F2235;
  border-radius: 10px;
  box-shadow: 0 14px 12px black;
}

#tag {
  font-size: 2rem;
}

.card {
  margin: 20px;
}

.card {
  position: relative;
  left: 0px;
}

.card:hover {
  transform: translateY(-20px);
}

.card:hover {
  right: 50px;
  transition: 1.2s ease;
}
