@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

body {
  background: url("https://dreammakerng.github.io/my-first-website/practice/HBDM.png");
  background-position: center-top;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 16px;
}

#card {
  border-radius: 10px;
  box-shadow: 0 6px 7px black;
  text-align: center;
  padding: 16px;
  background-color: #1F2235;
  color: #E3A419;
}

h1 {
  border-radius: 10px;
  box-shadow: 0 6px 7px #E3A419;
}

#card>.coachalex {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 6px 7px #E3A419;
}

.card {
  margin: 40px;
  border-radius: 10px;
  background-color: #1F2235;
  color: #E3A419;
  box-shadow: 0 6px 7px #E3A419;
  text-align: center;
  padding: 16px;
}
