* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'segoe UI', Poppins, Inter;
  line-height: 1.6;
  background: #0F172A;
  color: #E5E7EB;
}

#hero {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header #hero {
 
  justify-content: space-between;
  align-items: center;
}

header {
  border-bottom: 2px solid black;
  padding: 1rem 0;
}

h1 {
  color: #111887;
}

#atb {
  background-image: url("https://img.freepik.com/premium-photo/contemporary-spotless-fitness-gym-center-interiorgenerative-ai_391052-10889.jpg?w=2000");
  text-align: center;
  padding: 4rem 1rem;
  margin-bottom: 2rem;
}

#atb h2 {
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}

#atb .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  background-color: #F8FAFC;
  color: #111887;
  border: 2px solid #111897;
  border-radius: 50%;
  text-decoration: none;
  margin-top: 1rem;
  padding: 3.4rem;
}

.coachalex {
  width: 170px;
  height: 220px
}

#ca {
  font-size: 2rem;
}

.tunde {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  margin-top: 30px;
}

.sec {
  background-color: #1117;
  border-right: 3.5px solid #111897;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
  margin: 4rem 1.3rem;
  padding: 5rem;
}

.sect {
  background-color: #111857;
  border-right: 6.5px solid #1117;
  border-bottom: 6.5px solid #1117;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
  margin: 1.3rem;
  padding: 2rem;
  text-align: center;
}

.sect p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.sect .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  background-color: #F8FAFC;
  color: #111897;
  border: 2px solid #111897;
  border-radius: 50%;
  text-decoration: none;
  margin-top: 1rem;
  padding: 3rem;
}

footer {
  text-align:  center;
  border-top: 0.2px solid black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
   line-height: 2;
}
